@import './variables.scss';

body,html,.App {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: $font;
  overflow-x: hidden;
  background-color: #fff;
  background-size: cover;
  color: black;
  text-align: center;
  scroll-behavior: smooth;
}

.text-white{
  color: black;
}

h1{
  color: #663FD6;
  font-weight: bold;
}
