@import './variables.scss';
@import '~leaflet/dist/leaflet.css'; // sass
@import '~react-leaflet-markercluster/dist/styles.min.css'; // sass

body,html,.App {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: $font;
  overflow-x: hidden;
  background-image: url(./assets/bg.jpg);
  // background-color: #1C1D1F;
  background-size: cover;
  color: #fafafa;
  text-align: center;
  scroll-behavior: smooth;
}

.text-white{
  color: white;
}
